.hero {
    position: relative;
}

.repository-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 40px;
    height: 40px;
}

.repository-link img {
    width: 100%;
}